## R intro

In [ ]:
### Essential for having R run in Colab 

%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

## How to execute R scripts

In [ ]:
%%R    # This is the line that tells Colab we are writing in R and not Python

(3**2+6)/(3+2)

[1] 3

In [ ]:
## In this case it's executing the line like a Python code (can you notice the difference?)

(3**2+6)/(3+2)

2.2

Per altre operazioni aritmetiche vedere [qui](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/Arithmetic).

### Example of R code

In [ ]:
%%R  

x <- seq(0, 96)
x

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
[26] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[51] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
[76] 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96

In [ ]:
## There are soome functions that are the same
%%R 

round(3.141593)
# Let's go and have a look at the documentation. How can we find it?

[1] 3

In [ ]:
## Se non vuoi andare a cercare su Google 
%%R

help(round)

In [ ]:
%%R

mean(x)

[1] 48

## How to save values into variables

In [ ]:
%%R

mean.x <- mean(x)
mean.x

[1] 3

In [ ]:
## Similar to Python lists
%%R 

lista.reddito <- c(20, 56, 37, 47, 29, 32, 30)
lista.reddito

[1] 20 56 37 47 29 32 30